.background-image {
  background-image: asset-url('artichoke.jpg');
  background-color: #BCABAE;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-show {
  background-color: transparent;
  padding-top: 100px;
  height: 100vh;
  max-width: 100vw;
  margin: 0;
  overflow-y: auto;
  position: relative;
}

.fridge-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h6 {
  width: 100vw;
  text-align: center;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: bold;
  font-family: "Indie Flower", cursive;
  color: $night;
}

p {
  margin-bottom: 15px;
  font-size: 20px;
  font-family: "Imprima";
  color: $night;
}

.btn-category {
  background-color: #BCABAE;
  color: white;
  width: 70vw;
  height: 5vh;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 2px 4px #938285;
  font-size: 25px;
  font-weight: bold;
  font-family: "Actor";
  transition: background-color 0.1s, transform 0.3s;
}

.btn-category:hover {
  background-color: $fr-green;
  box-shadow: 2px 4px #3c4638;
  color: #fff;
}

// MODAL

.modal-content {
  margin-top: 20%;
  background-color: #e4f3e8;
  border-radius: 15px;
  font-family: "Actor";
  font-size: 15px;
  color: $night;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 5px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: white;
  color: #716969;
  border: 1px solid #4c4971;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  box-shadow: 4px 6px #716467;
}

.tag-selector:checked + label {
  background-color: #BCABAE;
  color: white;
}

.ingredient-checkboxes legend {
  display: none;
}

.modal-footer{
 display: flex;
 justify-content: center;
}

.saved_ingredients ul {
  list-style-type: none;
}

.saved_ingredients ul li {
  display: inline-block;
  background-color: $fr-green;
  border: solid 2px #716969;
  padding: 5px 10px;
  border-radius: 30px;
  margin-right: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.683);
}

.button-delete {
  display: flex;
  align-items: center;
}

.ingredient-name {
  margin-right: 10px;
  font-size: 25px;
  font-weight: bolder;
  font-family: "Actor";
  color: #2D2E2E;
}

.delete-link {
  font-size: 22px;
}

.text-decoration-none {
  font-size: 29px;
  font-weight: bold;
  color: #2D2E2E;
}


.btn-get-recipes {
  background-color: #A8E6B7;
  color: #2f2f2f;
  width: 250px;
  height: 60px;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 2px 4px #6c9175;
  font-size: 35px;
  font-family: "Indie Flower";
  font-weight: bolder;
}

.btn-get-recipes:hover {
  background-color: #7aaa86;
  color: #fff;
  box-shadow: 2px 4px #53745b;
}
