.background-image {
  background-image: asset-url('artichoke.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-show {
  background-color: transparent;
  height: 100vh;
  max-width: 100vw;
  margin: 0;
  overflow-y: auto;
  position: relative;
}

.fridge-show {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

h6 {
  background-color: #ffffffa2;
  margin-bottom: 5px;
  width: 100vw;
  text-align: center;
  font-size: 65px;
  font-weight: bold;
  font-family: "Indie Flower", cursive;
  color: #9088f1;
  text-shadow: 2px 3px #121025;
}

p {
  background-color: #ffffffa2;
  font-size: 28px;
  font-family: "Imprima";
}

.btn-category {
  background-color: #809675;
  color: #fff;
  width: 60vw;
  height: 50px;
  padding: 10px 20px;
  margin-top: 10px;
  border: 0.5px solid #A8E6B7;
  border-radius: 20px;
  box-shadow: 4px 6px #53604d;
  font-size: 25px;
  font-family: "Actor";
  transition: background-color 0.1s, transform 0.3s;
}


.btn-category:hover {
  background-color: #A8E6B7;
  color: #fff;
}

// MODAL

.modal-content {
  margin-top: 20%;
  background-color: #e4f3e8;
  border-radius: 15px;
  font-family: "Actor";
  font-size: 15px;
  color: #04250C;
}

// .ingredient-checkboxes {
//   height: 10px;
//   width: 30px;
// }

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 5px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: #7E73FF;
  border: 1px solid #7E73FF;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  box-shadow: 4px 6px #4c4971;
}

.tag-selector:checked + label {
  background-color: #7E73FF;
  color: white;
}

.ingredient-checkboxes legend {
  display: none;
}

.saved_ingredients ul {
  list-style-type: none;
}

.saved_ingredients ul li {
  display: inline-block;
  background-color: #e8e7fb;
  border: solid #7E73FF;
  padding: 5px 15px;
  border-radius: 30px;
  margin-right: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.683);
}

.button-delete {
  display: flex;
  align-items: center;
}

.ingredient-name {
  margin-right: 10px;
  font-size: 25px;
  font-weight: bolder;
  font-family: "Actor";
  color: #4c40cc;
}

.delete-link {
  font-size: 22px;
}

.btn-get-recipes {
  background-color: #A8E6B7;
  color: #000000;
  width: 280px;
  height: 65px;
  padding: 5px 10px;
  margin-top: 10px;
  border: 1px solid #d6ffe1;
  border-radius: 20px;
  box-shadow: 4px 6px #3a453d;
  font-size: 40px;
  font-family: "Indie Flower";
  font-weight: bolder;
  transition: background-color 0.1s, transform 0.3s;
}

.btn-get-recipes:hover {
  background-color: #809675;
  color: #fff;
}
