.home-background {
  background-image: asset-url('fridge6.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  max-width: 100vw;
  overflow: auto;
}

.fridge-logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 80%;
}

.logo-div {
  margin-top: 15%;
  margin-bottom: 16%;
}

.about-fridgeraid {
  margin-top: 15px;

  ul {
    list-style-type: none;
    font-size: 25px;
    text-decoration: none;
    font-family: "Imprima", sans-serif;
    font-weight: lighter;


    li {
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }
}

.login-area {
  .btn-signup {
    display: inline-block;
    height: 80px;
    width: 280px;
    padding-top: 10px;
    background-color: #FBFFDC;
    text-decoration: none;
    font-size: 40px;
    color: #809675;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: "Indie Flower", sans-serif;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.1s, transform 0.3s;
  }

  .btn-signup:hover {
    background-color: #809675;
    color: #D0F5BE;
  }

  .btn-signup:active {
    transform: translateY(2px);
  }

  h1 {
    font-size: 18px;
    text-decoration: none;
    font-family: "Imprima", sans-serif;
    font-weight: lighter;
    margin-top: 20px;
    }

  .btn-sign-in {
    display: inline-block;
    padding: 10px 20px;
    background-color: #809675;
    color: #D0F5BE;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Indie Flower", sans-serif;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }

  .btn-sign-in:hover {
    background-color: #FBFFDC;
    color: #809675;
  }

  .btn-sign-in:active {
    transform: translateY(2px);
  }

}
