<div class=" text-center  mt-4" >
<%= @hola %>
  <h1 class="color-green-bk"> Recipes:</h1>
  <div class=" my-4 div-color">
    <% @recipes["results"].each.first(10) do |recipe| %>
      <div class="text-center">
        <div class="my-3 pb-3 actual-card border-bottom"  style="">
          <div class="row g-0 ">
            <%= image_tag recipe["image"] %>
          </div>
          <div class="col-md-6">
            <%# <div class="card-body"> %>
            <h5 class="card-title mx-2 my-2 color-title"><%= recipe["title"].capitalize%></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
