<div class="px-4 footer d-flex justify-content-between">
  <img src="https://res.cloudinary.com/dclozlnfy/image/upload/v1694804930/development/Screenshot_2023-09-07_at_18.34.05_udztgi.png" alt="">
  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-facebook"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="#"><i class="fab fa-linkedin"></i></a>
</div>
