<div class="px-4 footer d-flex justify-content-between ">
  <img src="https://res.cloudinary.com/dclozlnfy/image/upload/v1694804930/development/Screenshot_2023-09-07_at_18.34.05_udztgi.png" alt="">
  <a href="#"><i class="fa-solid fa-carrot"></i></a>
  <a href="#"><i class="fa-regular fa-square-check"></i></a>
  <a href="#"><i class="fa-solid fa-heart"></i></a>
  <a href="#"><i class="fa-solid fa-user"></i></a>
</div>
