<%# Pages#home %>
<%# <p>Find me in app/views/pages/home.html.erb</p> %>

<body>
  <div class="container">
    <div class="logo-div">
        <img src="/assets/fridgelogo.png" alt="Fridge Logo" class="fridge-logo">
    </div>
    <div class="about-fridgeraid">
      <ul>
        <li>Fill your fridge</li>
        <li>Get suggested recipes</li>
        <li>Keep track of food & reduce food waste</li>
      </ul>
    </div>
    <div class="login-area">
      <button class="btn-signup">Get Started <i class="fa-solid fa-arrow-right"></i></button>
      <h1>Been here before?</h1>
      <button class="btn-sign-in">Sign In</button>
    </div>
  </div>
</body>
