<%# Pages#home %>
<%# <p>Find me in app/views/pages/home.html.erb</p> %>

<body class="home-background">
  <div class="container">
    <div class="logo-div">
        <img src="/assets/fridgelogo.png" alt="Fridge Logo" class="fridge-logo">
    </div>
    <div class="about-fridgeraid">
      <ul>
        <li>Fill your fridge</li>
        <li>Get suggested recipes</li>
        <li>Keep track of food & reduce food waste</li>
      </ul>
    </div>
    <div class="login-area">
      <%# <button class="btn-signup">Get Started <i class="fa-solid fa-arrow-right"></i></button> %>
      <%= link_to new_user_registration_path, class: "btn-signup" do %>
      Get Started <i class="fa-solid fa-arrow-right"></i>
      <% end %>
      <h1>Been here before?</h1>
      <%= link_to "Sign In", new_user_session_path, class: "btn-sign-in" %>
    </div>
  </div>
</body>
