<%# Pages#home %>
<%# <p>Find me in app/views/pages/home.html.erb</p> %>


<body>
  <h1>Fridgeraid</h1>
  <ul>
    <li>Fill the fridge</li>
    <li>Get suggested recipes</li>
    <li>Keep track of your food and reduce food waste</li>
  </ul>
</body>

