.color-green-bk{
  background-color: $fr-green;
  width:100%;
  padding:10px;
}

.icon-index{
  font-size: 20px;
}
.div-color{
  background-color:white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Horizontal offset, Vertical offset, Blur radius, Spread radius, Color */
}
