.footer{
  position:fixed;
  height: 6vh;
  top:94vh;
  background-color: white;
  left:0;
  right:0;
  font-size: 20px;
}

#icon-footer{
  border-radius: 50%;
  width: 45px;
}

.fa-color{
  color:$black;
}
@media (min-width:746px){
  .footer{
    position:static;
    top:none;
    left:none;
    right:none;
  }
}
