
.footer{
  position:fixed;
  height: 6vh;
  top:94vh;
  width: 100%;
  background-color: white;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 30px;
}

#icon-footer{
  border-radius: 50%;
  width: 45px;
}

.fa-black{
  color:$black;
  background-color: white; ;
}
.fa-red{
  color: black;
  background-color: white;
  padding: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6); /* You can adjust the values as needed */
}
@media (min-width:746px){
  .footer{
    position:static;
    top:none;
    left:none;
    right:none;
  }
}
