.sign-in-page {
  padding-top: 85px;
  background-image: url('greenveg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}

.signin-simple-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}

.signin-simple-form input[type="text"],
.signin-simple-form input[type="password"] {
  background-color: rgba(255, 255, 255, 0.834);
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #a8f5bb;
  border-radius: 5px;
  font-size: 22px;
  font-family: "Actor";
}

.signin-simple-form input[type="text"]:focus,
.signin-simple-form input[type="password"]:focus {
  outline: none;
  border-color: #A8E6B7;
  box-shadow: 0 0 5px #A8E6B7;
}

.signin-simple-form input::placeholder {
  text-align: center;
  font-size: 28px;
  color: #686868;
  font-family: "Actor";
}

.remember-me-label {
  font-size: 20px;
}

.remember-me-label input[type="checkbox"] {
  transform: scale(2);
  margin-right: 10px;
}

input.btn {
  height: 62px;
  width: 250px;
  border: none;
  border-radius: 15px;
  background-color: $fr-green;
  text-decoration: none;
  font-size: 38px;
  color: $jet;
  font-family: "Indie Flower", sans-serif;
  box-shadow: 2px 4px #8eba99;
}

input.btn:hover {
  color: #D0F5BE;
  background-color: #607e67;
  box-shadow: 2px 4px #2d3b30;
}

.forgot-password-link {
  margin-top: 20px;
}

.forgot-password-link-text {
  color: $night;
  text-decoration: none;
  font-size: 20px;
}

.forgot-password-link:hover {
  text-decoration: underline;
}
