.sign-in-page {
  padding-top: 85px;
  background-image: url('fruitlogin.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}

.signin-simple-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-simple-form input[type="text"],
.signin-simple-form input[type="password"] {
  background-color: rgba(255, 255, 255, 0.834);
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #a8f5bb;
  border-radius: 5px;
  font-size: 22px;
  font-family: "Actor";
}

.signin-simple-form input::placeholder {
  text-align: center;
  font-size: 28px;
  color: #686868;
  font-family: "Actor";
}

.remember-me-label {
  font-size: 20px;
}

.remember-me-label input[type="checkbox"] {
  transform: scale(2);
  margin-right: 10px;
}

input.btn {
  background-color: #A8E6B7;
  color: #131313;
  font-family: "Indie Flower", sans-serif;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 6px #607e67;
}

input.btn:hover {
  color: #D0F5BE;
  background-color: #607e67;
  box-shadow: 2px 4px #2d3b30;
}

.forgot-password-link {
  margin-top: 30px;
  background-color: #d9f9e1;
  border-radius: 30px;
  padding: 5px 10px;
  box-shadow: 2px 4px #80aa8a;
}

.forgot-password-link-text {
  color: #405b4f;
  text-decoration: none;
  font-size: 16px;
}

.forgot-password-link:hover {
  background-color: #678a70;
  box-shadow: 1px 2px #435949;
}
